:root {
    font-size: 10px;
    --base: 10px;
    --small: 2.5rem;
    --medium: 6rem;
    --large: 15rem;
    --extra-large: 20rem;
    --base-color: white;
    --font-color: white;
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    font-size: var(--small);
    color: var(--font-color);
}
.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-size: var(--medium);
}
.overlay > form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
#overlay-name {
    width: 100%;
    white-space: normal;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 3px solid white;
    font-size: calc( 0.8 * var(--medium));
    text-align: center;
    color: var(--font-color);
    padding-bottom: 0.1em;
}
#overlay-name:focus {
    background-color: transparent;
    outline: none;
}
#overlay-submit {
    margin-top: 5rem;
    background-color: transparent;
    border-color: var(--base-color);
    color: var(--font-color);
    font-size: var(--small);
    border-radius: 100vmax;
    padding: 0.5em 2em 0.5em 2em;
}
.circle-container {
    position: absolute;
    width: 3.3rem;
    height: 3.3rem;
    margin: .3rem;
    background: transparent;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.circle-container:hover {
    background: #ffffff7e;
}
.circle {
    width: .6rem;
    height: .6rem;
    margin: .15rem;
    background: #fff;
    border-radius: 50%;
}
.inner-clock > .circle-container {
    top: 43%;
    left: 105%;
}
.greeting-container > .circle-container {
    top: 27%;
    left: 103%;
}
main {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 0.5fr 6fr 0.5fr;
    grid-template-areas: 
        ". . . . . widget"
        "main main main main main main"
        "settings quote quote quote quote todo";
}
.container {
    text-align: center;
}
.widget {
    grid-area: widget;
    place-self: start end;
    text-align: end;
    padding: 1.5rem;
}
.dashboard {
    width: 100%;
    grid-area: main;
    place-self: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 0;
}
.clock {
    width: 100%;
}
.inner-clock {
    position: relative;
    font-size: var(--extra-large);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#seconds {
    font-size: var(--medium);
}
#session {
    font-size: var(--medium);
}
.sesh {
    margin-left: 5%;
    display: flex;
    flex-flow: column wrap;
}
.clock-dropdown {
    position: absolute;
    background: white;
    top: 62%;
    left: 105.8%;
    width: 30%;
    border-radius: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    gap: 1rem;
    color: rgb(94, 94, 94);
    font-size: calc(0.8 * var(--small));
}
.clock-dropdown::before {
    content: '';
    position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 8%;
	border: .75rem solid transparent;
	border-top: none;
    border-bottom-color: #fff;
}
.greeting-container {
    position: relative;
    width: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0;
}
.greeting {
    width: 100%;
    font-size: var(--medium);
}
#user-name:focus {
    outline: none;
    border-bottom: 2px solid white;
}
.name-change {
    position: absolute;
    width: 30%;
    top: 93%;
    left: 103.8%;
    border-radius: 1rem;
    padding: .5em 0 .5em 0;
    background: white;
    cursor: pointer;
    color: rgb(94, 94, 94);
    font-size: calc(0.8 * var(--small));
}
.name-change::before {
    content: '';
    position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 8%;
	border: .75rem solid transparent;
	border-top: none;
    border-bottom-color: #fff;
}
#edit-name {
    width: 100%;
    padding: .2em;
}
#edit-name:hover {
    background: rgba(168, 168, 168, 0.555);
    color: rgb(94, 94, 94);
}
.todo-list {
    grid-area: todo;
    place-self: end;
    text-align: end;
    padding: 1.5rem;
    position: relative;
}
.todo-list span {
    cursor: pointer;
}
.todolist-container {
    position: absolute;
    top: -200%;
    right: 10%;
    width: 350%;
    min-height: 5rem;
    background: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 2rem;
    color: black;
    
}
.todolist-container::after {
    content: '';
    position: absolute;
	width: 0;
	height: 0;
    top: 100%;
	left: 80%;
	border: .75rem solid transparent;
	border-bottom: none;
    border-top-color: #fff;
}
#list {
    width: 100%;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 10%;
    overflow-x: hidden;
    overflow-y: auto;
}
#input-item {
    width: 90%;
    margin-top: auto;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid rgb(160, 160, 160);
    font-size: var(--small);
}
#input-item:focus {
    background-color: transparent;
    outline: none;
}
.quote {
    grid-area: quote;
    justify-content: center;
    align-items: end;
    padding: 0.5rem;
    font-style: italic;
    margin: 0 0 1rem 0;
    font-size: calc( 0.8 * var(--small))
}
#text {
    margin: 0 0 1rem 0;
    line-clamp: 35ch;
}
#text::before {
    content: open-quote;
}
#text::after {
    content: close-quote;
}
#author {
    margin: 0;
    font-size: calc( 0.7 * var(--small));
}
#author::before {
    content: "-";
}
.settings {
    grid-area: settings;
    justify-content: start;
    align-items: end;
    text-align: start;
    padding: 1.5rem;
    cursor: pointer;
}
.unshow {
    display: none;
}
.show {
    display: block;
}
.checked {
    text-decoration: line-through;
    color: rgb(58, 58, 58);
}